.AuthPage {
    height: 70vh; /* Take up full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Move content to the bottom */
    align-items: center; /* Center content horizontally */
    background-color: var(--white);
    border-radius: 2vmin;
  }
  
  .AuthPage h3 {
    margin-bottom: 20px; /* Space at the bottom */
    text-align: center;
    color: var(--text-light);
    cursor: pointer; /* Makes it clear this is clickable */
  }
  
  

